bin/
build/
jars/*
javadoc/
java_pid*
jrte.code-workspace
regression.*
**/.fuse_hidden*
**/.~*
**/*.bak
.data/
.doc/
.tmp/
.settings/
.vscode/
.classpath
.project
.sign-off
*.dfa
*.gz
*.last
*.log*
*.lck
*.out
*.pr
